* {
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#one {
    text-align: center;
    background-color: rgb(255, 217, 0);
    padding: 20px;
    margin-bottom: 10px;
}

#two {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.bestvalued {
    width: 1400px;
    margin: 0 auto;
}

section article {
    background-color: #efefef;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
}

.recipe {
    float:left;
    text-align: center;
    
}

.recipes {
    background-color: #efefef;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    height: 300px;
}


/* .entry {
    list-style-type: none;
    margin-bottom: 10px;

}

a {
    text-decoration: none;
    /* color: rgb(216, 130, 0); */
    font-weight: bold;
} */

/* ESTILOS PARA LAS RECETAS */

/* #recipe-title {
    background-color:hsl(204, 97%, 64%);
    padding: 10px;
}

.pagesrecipes {
    background-color: #efefef;
    padding-top: 20px;

}

.dish {
    margin: 15px;
    width: 300px;
    box-shadow: 2px 2px 20px;
    float: left;
    
}

div h2 p {
    float: left;
}

.subtitle-recipes {
    background-color: rgb(255, 217, 0);
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
}


.clearfix {
    clear: both;
}

.description {
    width: 1000px;
}
.ingredients {
   background-color: white;
    padding: 10px;
    padding-left: 50px;
    list-style-type: circle;
} 
 
.steps {
    background-color: white;
    padding: 10px;
    padding-left: 60px;
    
} */
 
